.checkout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    margin-bottom: 20px;
}

.items-in-cart {
    border: 2px solid rgba(128, 0, 128, 0.24);
    padding: 10px;
    gap: 10px;
    width: 50%;
}

.info-items-in-cart {
    gap: 10px;
    padding: 10px;
}

.clear-all {
    gap: 10px;
    color: purple;
    border: 2px solid rgba(128, 0, 128, 0.199);
    padding: 10px;
    border-radius: 9px;
    background-color: rgba(228, 172, 250, 0.384);
    border: 2px solid rgb(128, 0, 128);
}
.clear-all-icon {
    cursor: pointer;
    color: rgb(128, 0, 128);
    font-size: 1.2rem;
    margin-left: 10px;
}

.image-in-cart {
    width: 200px;
    height: 150px;
}

.cart-btn {
    width: 20%;
}

.add-remove-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-price {
    font-weight: bold;
}